<div class="container" style="margin-top: 3.5%;">
    <form action="" method="POST">

        <div class="row">
            <div class="col-lg-10">
                <input type="search" class="form-control" placeholder="Search" name="q">

            </div>
            <div class="col-lg-2">
                <button class="btn btn-secondary  btn-block" type="submit">Search</button>

            </div>

        </div>
        <br>



    </form>
    <button type="button" class="btn btn-info btn-lg btn-block">Latest News</button> <br>
    <div class="row">
        <div class="col-md-6" style="margin-bottom: 30px; padding: 20px;">
            <div class="card searchbox" style="">


                <div class="card-body sdw">


                    <h2 style="font-family:">Two Journal Paper Accepted To Elsevier’s Future Generation Computation
                        System </h2>


                    <div style="font-family: Ubuntu; color: gray;"> <img src="https://i.ibb.co/HTgj5SF/ict-building.jpg"
                            style="width: 25px; height: 25px; border-radius: 50%;" alt="..." class="">
                        <a href=""> Admin</a>
                        | 11/8/2020</div>

                    <div style="color:#383c3a;">The BanglaSketch Lab is dedicated to cutting-edge research on Bangla
                        language processing. Established in 2010 by Professor Md. Abdullah Al Mumin <div
                            class="text-right" style="margin-top: 20px;">
                            <a href="/news-detail"><button type="submit" style="" class="btn btn-secondary">Read More
                                </button></a>

                        </div>
                    </div>





                </div>

            </div>

        </div>
        <br> <br>
        <div class="col-md-6" style="margin-bottom: 30px; padding: 20px;">
            <div class="card searchbox" style="">


                <div class="card-body sdw">


                    <h2 style="font-family:">One conference paper accepted to 8th ACM Conference on Data and Application
                        Security and Privacy</h2>



                    <div style="font-family: Ubuntu; color: gray;"> <img src="https://i.ibb.co/HTgj5SF/ict-building.jpg"
                            style="width: 25px; height: 25px; border-radius: 50%;" alt="..." class="">
                        <a href=""> Admin</a>
                        | 11/8/2020</div>

                    <div style="color:#383c3a;">The BanglaSketch Lab is dedicated to cutting-edge research on Bangla
                        language processing. Established in 2010 by Professor Md. Abdullah Al Mumin <div
                            class="text-right" style="margin-top: 20px;">
                            <a href="/news-detail"><button type="submit" style="font-family:"
                                    class="btn btn-secondary">Read
                                    More
                                </button></a>

                        </div>
                    </div>





                </div>

            </div>

        </div>


    </div>
    <div class="row">
        <div class="col-md-6" style="margin-bottom: 30px; padding: 20px;">
            <div class="card searchbox" style="">


                <div class="card-body sdw">


                    <h2 style="font-family:">A Paper from SECRETLab Accepted in IEEE SCC 2017</h2>



                    <div style="font-family: Ubuntu; color: gray;"> <img src="https://i.ibb.co/HTgj5SF/ict-building.jpg"
                            style="width: 25px; height: 25px; border-radius: 50%;" alt="..." class="">
                        <a href=""> Admin</a>
                        | 11/8/2020</div>

                    <div style="color:#383c3a;">The BanglaSketch Lab is dedicated to cutting-edge research on Bangla
                        language processing. Established in 2010 by Professor Md. Abdullah Al Mumin <div
                            class="text-right" style="margin-top: 20px;">
                            <a href="/news-detail"><button type="submit" style="" class="btn btn-secondary">Read More
                                </button></a>

                        </div>
                    </div>





                </div>

            </div>

        </div>
        <br> <br>
        <div class="col-md-6" style="margin-bottom: 30px; padding: 20px;">
            <div class="card searchbox" style="">


                <div class="card-body sdw">


                    <h2 style="font-family:">Two Journal Paper Accepted To Elsevier’s Future Generation Computation
                        System</h2>



                    <div style="font-family: Ubuntu; color: gray;"> <img src="https://i.ibb.co/HTgj5SF/ict-building.jpg"
                            style="width: 25px; height: 25px; border-radius: 50%;" alt="..." class="">
                        <a href=""> Admin</a>
                        | 11/8/2020</div>
                    <div style="color:#383c3a;">The BanglaSketch Lab is dedicated to cutting-edge research on Bangla
                        language processing. Established in 2010 by Professor Md. Abdullah Al Mumin <div
                            class="text-right" style="margin-top: 20px;">
                            <a href="/news-detail"><button type="submit" style="font-family:"
                                    class="btn btn-secondary">Read
                                    More
                                </button></a>

                        </div>
                    </div>





                </div>

            </div>

        </div>


    </div>