<img src="https://i.ibb.co/jbymxNB/banner-7831f279.jpg" alt="" style="width: 100%;">
<div class="container" style="margin-top: 4%;">

  <div class="row" style="margin-top: 4%;">

    <div class="col-md-8">
      <p style="font-family: 'Montserrat'; font-size: 30px; font-weight: bolder; color: #22d1ee;">| About Us</p>
      <p
        style="font-family: 'Montserrat'; font-size: 16px; font-weight: 700; color: #3e4555; margin-top: 20px; text-align: left;">
        The BanglaSketch Lab is dedicated to cutting-edge research on Bangla language processing. Established in 2010 by
        Professor Md. Abdullah Al Mumin, the lab explores research projects focused on enhancement of Bangla language
        into information and communication technology. <br> <br>
        Current projects at the BanglaSketch Lab include: <br> </p>
      <p
        style="font-family: 'Montserrat'; font-size: 16px; font-weight: 500; color: #3e4555; margin-top: 20px; text-align: left; text-transform: capitalize;">
        • Neural machine translation <br>
        • Corpus linguistics <br>
        • Text normalization <br>
        • Vector semantics and embeddings <br>
        • Information extraction <br>
      </p>
      <!-- <div class="card" style="width: 15rem;">
              <img class="card-img-top" src="https://i.ibb.co/H48mDRx/jahir.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
              </div>
            </div> -->
    </div>
    <div class="col-md-4">
      <form style="margin-bottom: 20px;">
        <div class="row">
          <div class="col-md-8">
            <div class="form-group">
              <input type="text" class="form-control fnt" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Search">
            </div>

          </div>
          <div class="col-md-4">
            <button type="submit" class="btn btn-primary fnt" style="">Search</button>

          </div>
        </div>


      </form>
      <ul class="list-group">
        <li class="list-group-item fnt" style="background-color: #22d1ee">RECENT NEWS</li>
        <li class="list-group-item fnt"> <a href="/news-detail">Two journal paper accepted to Elsevier’s Future
            Generation
            Computation System</a>
        </li>
        <li class="list-group-item fnt"> <a href="/news-detail">One conference paper accepted to 8th ACM Conference on
            Data and
            Application
            Security and Privacy</a> </li>
        <li class="list-group-item fnt"> <a href="/news-detail">A Paper from SECRETLab Accepted in IEEE SCC 2017</a>
        </li>
      </ul> <br> <br>

      <ul class="list-group">
        <li class="list-group-item active fnt" style="background-color: #002651;">RESEARCH AREAS</li>
        <li class="list-group-item fnt"><a href="">Neural Machine Translation</a> </li>
        <li class="list-group-item fnt"> <a href="">Corpus Linguistics</a> </li>
        <li class="list-group-item fnt"><a href="">Text Normalization</a></li>
      </ul>

    </div>
  </div>


</div> <br> <br>