.mat-toolbar {
  background: #0084ff6e;
  color: rgb(15, 15, 15);
}
// .mat-menu-item:hover {
//      background-color:#0084;
// }
// .mat-button-focus-overlay {
//     background-color:#0084;
// }

mat-sidenav {
  width: 250px;
}
nav-caption {
  display: inline-block;
  padding-left: 6px;
}
a {
  text-decoration: none;
}

a:hover,
a:active {
  color: blue;
}
