<mat-toolbar>
  <mat-toolbar-row>
    <div fxHide.gt-xs>
      <button mat-icon-button (click)="onToggleSidenav()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <div><a mat-button routerLink="/"> <img
          src="https://i.ibb.co/VmJNyH3/Screenshot-2020-11-01-133653-removebg-preview.png" alt="" class="navbar-brand"
          style="width: 170px;"></a></div>
    <span class="menu-spacer"></span>
    <div fxFlex fxLayout fxLayoutAlign=" start start" fxHide.xs>
      <a mat-button [routerLink]="'/home'"> Home </a>
      <a mat-button [routerLink]="'/news'"> News </a>
      <a mat-button [routerLink]="'/suPara'"> SuPara </a>
      <a mat-button [routerLink]="'/resource'"> Resources </a>
      <a mat-button [routerLink]="'/publications'"> Publications </a>
      <a mat-button [routerLink]="'/admin'"> Admin </a>
      <a mat-button [routerLink]="'/aboutus'"> About Us </a>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="end center">
      <a mat-button [routerLink]="'/signup'"> Login </a>
      <a mat-button [routerLink]="'/people'">
        <mat-icon>people</mat-icon>
        <span>People</span>
      </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>