<mat-nav-list>
  <a mat-list-item routerLink="/news" (click)="onClose()">
    <mat-icon>text_snippet</mat-icon>
    <span class="nav-caption">News</span>
  </a>
  <a mat-list-item routerLink="/people" (click)="onClose()">
    <mat-icon>people</mat-icon>
    <span class="nav-caption">People</span>
  </a>
  <a mat-list-item routerLink="/suPara" (click)="onClose()">
    <mat-icon>translate</mat-icon>
    <span class="nav-caption">SuPara</span>
  </a>
  <a mat-list-item routerLink="/publications" (click)="onClose()">
    <mat-icon>publish</mat-icon>
    <span class="nav-caption">Publications</span>
  </a>
  <a mat-list-item routerLink="/admin" (click)="onClose()">
    <mat-icon>admin_panel_settings</mat-icon>
    <span class="nav-caption">Admin</span>
  </a>
  <a mat-list-item routerLink="/login" (click)="onClose()">
    <mat-icon>input</mat-icon>
    <span class="nav-caption">Login</span>
  </a>
  <a mat-list-item routerLink="/abouus" (click)="onClose()">
    <mat-icon>place</mat-icon>
    <span class="nav-caption">About Us</span>
  </a>
  <mat-list-item>
    <button mat-icon-button (click)="onClose()">
      <mat-icon>eject</mat-icon>
      <span class="nav-caption">Logout</span>
    </button>
  </mat-list-item>
</mat-nav-list>
