<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Add People">
  <mat-card>
    <h1 style="padding-top: 20px" fxLayoutAlign="center">Add People Form</h1>
    <div class="form-container">
      <form [formGroup]="addPeopleForm">
        <div fxLayout="column" class="form-padding form-field-width">
          <mat-form-field appearance="outline">
            <mat-label> Name
            </mat-label>
            <input matInput formControlName="name" required>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label> Designation
            </mat-label>
            <input matInput formControlName="designation" required>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label> Affiliation
            </mat-label>
            <input matInput formControlName="affiliation" required>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label> Research Interest
            </mat-label>
            <input matInput formControlName="researchInterest" required>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label> Joining Year
            </mat-label>
            <input matInput formControlName="joiningYear" required>
          </mat-form-field>

           <mat-form-field appearance="outline">
            <mat-label> Personal Website
            </mat-label>
            <input matInput formControlName="personalWebsiteLink">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label> LinkedIn Profile
            </mat-label>
            <input matInput formControlName="linkedinProfile">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label> Short Description
            </mat-label>
            <input matInput formControlName="shortDescription">
          </mat-form-field>
        </div>
        <button mat-raised-button color="primary" (click)="addPeopleSubmit()" style="font-size: large; margin-top: 20px; margin-left: 47%"> Add </button>
      </form>
    </div>
  </mat-card>

  </mat-tab>

  <mat-tab label="Add Research">

    <mat-card>
      <h1 style="padding-top: 20px" fxLayoutAlign="center">Add Publication Form</h1>
      <div class="form-container">
        <form [formGroup]="addPublicationForm">
          <div fxLayout="column" class="form-padding form-field-width">
            <mat-form-field appearance="outline">
              <mat-label> Publication Title
              </mat-label>
              <input matInput formControlName="publicationTitle" required>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label> Authors
              </mat-label>
              <input matInput formControlName="authors" required>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label> Publication Year
              </mat-label>
              <input matInput formControlName="publicationYear" required>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label> Publication Type
              </mat-label>
              <input matInput formControlName="publicationType" required>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label> Publication Link
              </mat-label>
              <input matInput formControlName="publicationLink" required>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label> Conference Link
              </mat-label>
              <input matInput formControlName="conferenceName" required>
            </mat-form-field>

          </div>
          <button mat-raised-button color="primary" (click)="addPublicationSubmit()" style="margin-left: 47%; font-size: large; margin-top: 20px"> Add </button>
        </form>
      </div>
    </mat-card>
  </mat-tab>

  <mat-tab label="Add News">

    <mat-card>
    <h1 style="padding-top: 20px" fxLayoutAlign="center">Add News Form</h1>
    <div class="form-container">
      <form [formGroup]="addNewsForm">
        <div fxLayout="column" class="form-padding form-field-width">
          <mat-form-field appearance="outline">
            <mat-label> Title
            </mat-label>
            <input matInput formControlName="newsTitle" required>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label> Headline
            </mat-label>
            <input matInput formControlName="headline" required>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label> Details
            </mat-label>
            <input matInput formControlName="newsBody" required>
          </mat-form-field>
        </div>
        <button mat-raised-button color="primary" (click)="addNewsSubmit()" style="margin-left: 47%; font-size: large; margin-top: 20px"> Add </button>
      </form>
    </div>
  </mat-card>
  </mat-tab>
</mat-tab-group>

