<!-- <p style="font-family: 'Montserrat'; font-size: 40px; font-weight: bolder; color: #22d1ee; text-align: center; margin-top: 2%;">People</p> -->

<div style="background: #F8F9FA;">
    <div class="container" style="margin-top: 4%;">
        <p
            style="font-family: 'Montserrat'; font-size: 30px; font-weight: bolder; color: #22d1ee; margin-bottom: 40px;">
            |
            Directors</p>
        <div class="row">
            <div class="col">
                <img class="img-thumbnail" src="https://i.ibb.co/H48mDRx/jahir.jpg" style="width: 220px;">
                <p
                    style="width: 220px; font-family: 'Montserrat'; font-size: 16px; font-weight: bolder; color: #3e4555; margin-top: 20px; text-align: center; line-height: normal;">
                    M. Jahirul Islam</p>
                <p
                    style="width: 220px;font-family: 'Montserrat'; font-size: 14px; color: #3e4555; text-align: center; line-height: normal;">
                    Professor</p>
                <!-- <div class="card" style="width: 15rem;">
                        <img class="card-img-top" src="https://i.ibb.co/H48mDRx/jahir.jpg" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                        </div>
                      </div> -->
            </div>
            <div class="col">
                <img class="img-thumbnail" src="https://i.ibb.co/sFJW3K4/default.jpg" style="width: 220px;">
                <p
                    style="width: 220px; font-family: 'Montserrat'; font-size: 16px; font-weight: bolder; color: #3e4555; margin-top: 20px; text-align: center; line-height: normal;">
                    Mohammad Abdullah Al Mumin</p>
                <p
                    style="width: 220px;font-family: 'Montserrat'; font-size: 14px; color: #3e4555; text-align: center; line-height: normal;">
                    Professor</p>
                <!-- <div class="card" style="width: 15rem;">
                        <img class="card-img-top" src="https://i.ibb.co/H48mDRx/jahir.jpg" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                        </div>
                      </div> -->
            </div>
            <div class="col">
            </div>
            <div class="col">
            </div>
        </div>
        <div class="container" style="margin-top: 4%;">
            <p
                style="font-family: 'Montserrat'; font-size: 30px; font-weight: bolder; color: #22d1ee; margin-bottom: 40px;">
                | Research
                Assistant</p>
            <div class="row">
                <div class="col">
                    <img class="img-thumbnail" src="https://i.ibb.co/dpM1x6y/rsz-rowan.jpg" style="width: 220px;">
                    <p
                        style="width: 220px; font-family: 'Montserrat'; font-size: 16px; font-weight: bolder; color: #3e4555; margin-top: 20px; text-align: center; line-height: normal;">
                        Md. Zobaer Hossain</p>
                    <p
                        style="width: 220px;font-family: 'Montserrat'; font-size: 14px; color: #3e4555; text-align: center; line-height: normal;">
                        Computer Science and Engineering</p>
                    <!-- <div class="card" style="width: 15rem;">
                            <img class="card-img-top" src="https://i.ibb.co/H48mDRx/jahir.jpg" alt="Card image cap">
                            <div class="card-body">
                              <h5 class="card-title">Card title</h5>
                            </div>
                          </div> -->
                </div>
                <div class="col">
                </div>
                <div class="col">
                </div>
                <div class="col">
                </div>
            </div>

        </div>
        <div class="container" style="margin-top: 4%;">
            <p
                style="font-family: 'Montserrat'; font-size: 30px; font-weight: bolder; color: #22d1ee; margin-bottom: 40px;">
                | Linguists</p>
            <div class="row">
                <div class="col">
                    <img class="img-thumbnail" src="https://i.ibb.co/sRd226s/rsz-mehedy.jpg" style="width: 220px;">
                    <p
                        style="width: 220px; font-family: 'Montserrat'; font-size: 16px; font-weight: bolder; color: #3e4555; margin-top: 20px; text-align: center; line-height: normal;">
                        Mehedi Hassan Talukder</p>
                    <p
                        style="width: 220px;font-family: 'Montserrat'; font-size: 14px; color: #3e4555; text-align: center; line-height: normal;">
                        Department of English</p>
                    <!-- <div class="card" style="width: 15rem;">
                        <img class="card-img-top" src="https://i.ibb.co/H48mDRx/jahir.jpg" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                        </div>
                      </div> -->
                </div>
                <div class="col">
                </div>
                <div class="col">
                </div>
                <div class="col">
                </div>
            </div>
            <div class="container" style="margin-top: 4%;">
                <p
                    style="font-family: 'Montserrat'; font-size: 30px; font-weight: bolder; color: #22d1ee; margin-bottom: 40px;">
                    | Developers
                </p>
                <div class="row">
                    <div class="col">
                        <img class="img-thumbnail" src="https://i.ibb.co/rFZYNKp/rsz-shakil.jpg" style="width: 220px;">
                        <p
                            style="width: 220px; font-family: 'Montserrat'; font-size: 16px; font-weight: bolder; color: #3e4555; margin-top: 20px; text-align: center; line-height: normal;">
                            Shakil Ahmed</p>
                        <p
                            style="width: 220px;font-family: 'Montserrat'; font-size: 14px; color: #3e4555; text-align: center; line-height: normal;">
                            Computer Science and Engineering</p>
                        <!-- <div class="card" style="width: 15rem;">
                            <img class="card-img-top" src="https://i.ibb.co/H48mDRx/jahir.jpg" alt="Card image cap">
                            <div class="card-body">
                              <h5 class="card-title">Card title</h5>
                            </div>
                          </div> -->
                    </div>
                    <div class="col">
                        <img class="img-thumbnail" src="https://i.ibb.co/GMgvMVR/rsz-toha.jpg" style="width: 220px;">
                        <p
                            style="width: 220px; font-family: 'Montserrat'; font-size: 16px; font-weight: bolder; color: #3e4555; margin-top: 20px; text-align: center; line-height: normal;">
                            Mutasim Billah</p>
                        <p
                            style="width: 220px;font-family: 'Montserrat'; font-size: 14px; color: #3e4555; text-align: center; line-height: normal;">
                            Software Engineering</p>
                        <!-- <div class="card" style="width: 15rem;">
                            <img class="card-img-top" src="https://i.ibb.co/H48mDRx/jahir.jpg" alt="Card image cap">
                            <div class="card-body">
                              <h5 class="card-title">Card title</h5>
                            </div>
                          </div> -->
                    </div>
                    <div class="col">
                        <img class="img-thumbnail" src="https://i.ibb.co/WFRKkDH/rsz-avishak.jpg" style="width: 220px;">
                        <p
                            style="width: 220px; font-family: 'Montserrat'; font-size: 16px; font-weight: bolder; color: #3e4555; margin-top: 20px; text-align: center; line-height: normal;">
                            Avishak Chakroborty</p>
                        <p
                            style="width: 220px;font-family: 'Montserrat'; font-size: 14px; color: #3e4555; text-align: center; line-height: normal;">
                            Software Engineering

                        </p>
                        <!-- <div class="card" style="width: 15rem;">
                            <img class="card-img-top" src="https://i.ibb.co/H48mDRx/jahir.jpg" alt="Card image cap">
                            <div class="card-body">
                              <h5 class="card-title">Card title</h5>
                            </div>
                          </div> -->
                    </div>
                    <div class="col">
                    </div>
                </div>
            </div>