<div style="background: #F8F9FA;">
    <!-- <p style="font-family: 'Montserrat'; font-size: 40px; font-weight: bolder; color: #3e4555; text-align: center; margin-top: 2%;">About Us</p> -->
    <div class="container" style="margin-top: 4%;">
        <p
            style="font-family: 'Montserrat'; font-size: 30px; font-weight: bolder; color: #22d1ee; margin-bottom: 15px;">
            | Publications</p>
        <div class="row">
            <div class="col">
                <p
                    style="font-family: 'Montserrat'; font-size: 16px; font-weight: 700; color: #3e4555; margin-top: 20px; text-align: left;">
                    [1] SI Ahmad, L Alam, MM Hoque, An Empirical Framework to Identify Authorship from Bengali Literary
                    Works, Lecture Notes of the Institute for Computer Sciences, Social Informatics and
                    Telecommunications Engineering, Springer, vol. 325, pp. 465-476, 2020002E <br> <br>
                    [2] S Hossain, D Sarma, R J Chakma, W Alam, M M Hoque, I H Sarker, A Rule-Based Expert System to
                    Assess Coronary Artery Disease Under Uncertainty, Communications in Computer & Information Science
                    book series (CCIS, volume 1235), Springer, pp. 143-159, 2020. <br> <br>
                    [3] E Hossain, O Sharif, MM Hoque, Sentiment Polarity Detection on Bengali Book Reviews Using
                    Multinomial Naive Bayes, Advances in Intelligent Systems and Computing (AISC), Springer, 2020 [In
                    Press]. <br> <br>
                    [4] S Hossain, A Abtahee, I Kashem, MM Hoque, IH Sarker, Crime Prediction Using Spatio-Temporal
                    Data, Communications in Computer & Information Science book series (CCIS, volume 1235), Springer,
                    pp. 277-289, 2020. <br> <br>
                    [5] R Hossain, MM Hoque, Semantic Meaning Based Bengali Web Text Categorization Using Deep
                    Convolutional and Recurrent Neural Networks (DCRNNs), Advances in Intelligent Systems and Computing
                    (AISC), Springer, 2020 (in Press) [Received Best Paper Award]. <br> </p>

            </div>
        </div>



    </div>